* {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(56, 54, 54);
    background-color: rgb(179, 45, 45);
}

.flexit {
    display: inline;
}

.border {
    border: black 10px double;
    background-clip: content-box;
    margin-block-start: 2rem;
    padding: 0.9em;
}


.site-name {
    color: rgba(15, 15, 15, 0.877);
    font-size: 70px;
    font-weight: 800;
    text-align: center;
}

#recipe-links {
    font-size: 35px;
    text-align: center;
}

.title {
    color: rgba(0, 0, 0, 0.884);
    font-size: 60px;
    font-weight: medium;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 500px;
    
}